@using Rocky.Utility
@model IList<Product>

@if (Model.Count() <= 0)
{
    <p>Cart is empty.</p>
}
else
{
    <form method="post" asp-action="IndexPost">
        <br />
        <div class="backgroundWhiteBorder">
            <div class="container row">
                <div class="col -8">
                    <div class="card mt-4">
                        <div class="card-header bg-dark text-light ml-0">
                            <div class="row">

                                <div class="col-6">
                                    <i class="fa fa-shopping-cart"></i> &nbsp;
                                    Shopping Cart
                                </div>
                                <div class="col-6 text-right text-end">
                                    <a asp-action="Clear" class="btn btn-outline-warning btn-sm text-end me-2">Clear Cart</a>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm text-end">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row" style="color:#821f3d">
                                    <div class="col-lg-2">
                                    </div>
                                    @if (User.IsInRole(WebConstants.Roles.Admin))
                                    {
                                        <div class="col-12 col-lg-3">
                                            Product Details
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-6 col-lg-7">
                                            Product Details
                                        </div>
                                    }

                                    <div class="col-6 col-lg-2">
                                        Price per sqft
                                    </div>
                                    @if (User.IsInRole(WebConstants.Roles.Admin))
                                    {
                                        <div class="col-12 col-lg-2">
                                            sqft
                                        </div><div class="col-12 col-lg-2">
                                            Total Price
                                        </div>

                                    }
                                    <div class="col-6 col-sm-4 col-lg-1">
                                    </div>
                                </div>
                            </div>

                            <hr />
                            @{
                                double orderTotal = 0.0;
                            }
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <input type="hidden" asp-for="@Model[i].Id" />

                                <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@WebConstants.Paths.ProductImages@Model[i].Image" class="rounded" style="max-height: 100px; width: 100%" />
                                    </div>
                                    @if (User.IsInRole(WebConstants.Roles.Admin))
                                    {
                                        <div class="col-8 col-lg-3">
                                            <h5>@Model[i].Name</h5>
                                            <div style="font-size:11px;">@Model[i].ShortDescription</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-8 col-lg-7">
                                            <h5>@Model[i].Name</h5>
                                            <div style="font-size:11px;">@Model[i].ShortDescription</div>
                                        </div>
                                    }
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;"> $@Model[i].Price</span>/ sqft
                                    </div>
                                    @if (User.IsInRole(WebConstants.Roles.Admin))
                                    {
                                        <div class="col-4 col-lg-2 pt-lg-4" style="font-size: 11px;">
                                            <input asp-for="@Model[i].TempSqft" class="form-control" />
                                        </div>
                                        <div class="col-3 col-lg-2 pt-lg-4" style="font-size: 11px;">
                                            <span style="font-size: 17px;">@((Model[i].Price * Model[i].TempSqft).ToString("C"))</span>
                                        </div>
                                    }
                                    <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                        <a asp-action="Remove" asp-route-id="@Model[i].Id" class="btn btn-outline-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                orderTotal += Model[i].Price * Model[i].TempSqft;
                                <hr />
                            }
                            @if (User.IsInRole(WebConstants.Roles.Admin))
                            {
                                <div class="row">
                                    <div class="col-12 text-end pr-4" style="color:#821f3d">
                                        Order Total: @string.Format("{0:C}", orderTotal)
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6 col-md-3 offset-md-6">
                                    @if (User.IsInRole(WebConstants.Roles.Admin))
                                    {
                                        <input type="submit" class="btn btn-success form-control" asp-action="UpdateCart" formmethod="post" name="Update"
                                               value="Update Cart" />
                                    }
                                </div>
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Continue</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}